.panel.legend-panel {
  width: 200px;
}

.panel-body__legend {
  margin: 10px;
}

.panel-body__legend--block {
  margin: 10px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.panel-body__legend--name {
  font-size: 1rem;
}

.panel-body__legend--color {
  width: 25px;
  height: 25px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 4px;
}
