.panel {
  background: rgba(255,255,255, 0.8);
  width: 300px;
}

.panel-header {
  margin: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
}

.panel-button {
  margin: 0.5rem;
}

.panel-hide {
  display: none;
}
