.panel-body__period {
  text-align: center;
  line-height: 1.5rem;
  padding: 10px;
}

.panel-body__period--name {
  font-size: 1.3rem;
}

.panel-body__period--period {
  font-size: 1rem;
}

.panel-body__period--description {
  line-height: 1rem;
  padding: 0.2rem;
}

.panel-body__period--image {
  width: 100%;
}

.panel-body__period--image img {
  max-width: 150px;
  max-height: 150px;
  float: left;
  padding: 0 10px 10px 0;
}
