.panel.bottom-links, .panel.top-links {
  width: auto;
	background: transparent;
	margin: 0;
}

.panel.top-links.home-button .panel-body {
	margin: 0;
}

.transneft__logo {
  vertical-align: middle;
  display: inline-block;
  background: url(./img/Transneft_logo1.png) no-repeat;
  width: 176px;
  height: 18px;
}

.laboratory__logo {
  vertical-align: middle;
  display: inline-block;
  // background: url(./img/laboratory.png) no-repeat;
  background: url(./img/geolab.png) no-repeat;
  width: 81px;
  height: 26px;
}

.resource__link {
  color: rgba(0, 0, 0, 0.75);
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
	margin: 0;
	text-decoration: none;
}

.partner_logos {
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}

.partner_logos a {
  display: inline-block;
  width: 24%;
  height: auto;
  vertical-align: middle;
}

.partner_logos a img {
  vertical-align: middle;
  width: 90%;
}

.resource__link:hover {
	text-decoration: underline;
}

.about_icon {
  background: rgba(49, 49, 49, 0.8);
  border-radius: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 15px;
  display: block;
  outline: none;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  text-shadow: none;
  padding: 3px;
  color: #fff;
  text-decoration: none!important;
  display: inline-block;
  margin-left: 10px;
}

.runiver__logo {
  vertical-align: middle;
  display: inline-block;
  background: url(./img/Runivers-Logo-color.svg) no-repeat;
  height: 18px;
  width: 63px;
  margin-right: 4px;
}

.runiver__logo__min {
  vertical-align: middle;
  display: inline-block;
  background: url(./img/bw_min/runiverse_min_bw.png) no-repeat;
  width: 49px;
  height: 18px;
}

.laboratory__logo__min {
  vertical-align: middle;
  display: inline-block;
  background: url(./img/bw_min/lab_min_bw.png) no-repeat;
  width: 46px;
  height: 14px;
}

.transneft__logo__min {
  vertical-align: middle;
  display: inline-block;
  background: url(./img/bw_min/transneft_min_bw.png) no-repeat;
  width: 107px;
  height: 14px;
}

.nextgis__logo__min {
  vertical-align: middle;
  display: inline-block;
  background: url(./img/bw_min/nextgis_min_bw.png) no-repeat;
  width: 69px;
  height: 14px;
}

.graph_logo {
	background: url(./img/graph.svg) no-repeat;
  background-size: contain;
  opacity: 1!important;
}

.socialLinks {
  margin-left: 10px;
}

.social__logo {
  vertical-align: middle;
  display: block;
  height: 20px;
  width: 20px;
  margin-left: 3px;
  margin-top: 10px;
  opacity: 0.7;
}

// .mobile .social__logo {
// 	display: inline-block;
// }

.social__logo:hover {
  opacity: 1;
}

.twitter {
  background: url(./img/twitter.svg) no-repeat;
}

.facebook {
  background: url(./img/facebook.svg) no-repeat;
}

.livejournal {
  background: url(./img/livejournal.svg) no-repeat;
}

.vkontakte {
  background: url(./img/vk.svg) no-repeat;
}

.panel__toggler {
  opacity: 0.4;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
  &.active {
    opacity: 1;
  }
  // &:hover {
  //   opacity: 1;
  // }
}

.mobile .switcher-panel-control .panel__toggler {
	display: block;
	margin-bottom: 5px;
}

.period__toggler {
  background: url(./img/rulers.svg) no-repeat;
}

.years__toggler {
  // background: url(./img/years.png) no-repeat;
  background: url(./img/graph.svg) no-repeat;
}

.baselayer__toggler {
  background: url(./img/baselayer.svg) no-repeat;
}

.legend__toggler {
	background: url(./img/legend.svg) no-repeat;
}



