.panel.bottom-links, .panel.top-links {
  width: auto;
	background: transparent;
}

.transneft__logo {
  vertical-align: middle;
  display: inline-block;
  background: url(./img/Transneft_logo1.png) no-repeat;
  width: 176px;
  height: 18px;
}

.laboratory__logo {
  vertical-align: middle;
  display: inline-block;
  background: url(./img/laboratory.png) no-repeat;
  width: 81px;
  height: 26px;
}

.resource__link {
  color: rgba(0, 0, 0, 0.75);
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
	margin: 0;
	text-decoration: none;
}

.resource__link:hover {
	text-decoration: underline;
}

.about_icon {
  background: rgba(49, 49, 49, 0.8);
  border-radius: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 15px;
  display: block;
  outline: none;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  text-shadow: none;
  padding: 3px;
  color: #fff;
  text-decoration: none!important;
  display: inline-block;
  margin-left: 10px;
}

.runiver__logo {
  vertical-align: middle;
  display: inline-block;
  background: url(./img/Runivers-Logo.png) no-repeat;
  height: 18px;
  width: 63px;
  margin-right: 4px;
}

.graph_logo {
	background: url(./img/graph.svg) no-repeat;
  background-size: contain;
  opacity: 1!important;
}

.socialLinks {
  margin-left: 10px;
}

.social__logo {
  vertical-align: middle;
  display: block;
  height: 20px;
  width: 20px;
  margin-left: 3px;
  margin-top: 10px;
  opacity: 0.7;
}

.social__logo:hover {
  opacity: 1;
}

.twitter {
  background: url(./img/twitter.svg) no-repeat;
}

.facebook {
  background: url(./img/facebook.svg) no-repeat;
}

.livejournal {
  background: url(./img/livejournal.svg) no-repeat;
}

.vkontakte {
  background: url(./img/vk.svg) no-repeat;
}

.panel__toggler {
  opacity: 0.4;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
  &.active {
    opacity: 0.8;
  }
  &:hover {
    opacity: 1;
  }
}

.period__toggler {
  background: url(./img/rulers.svg) no-repeat;
}

.years__toggler {
  // background: url(./img/years.png) no-repeat;
  background: url(./img/graph.svg) no-repeat;
}

.baselayer__toggler {
  background: url(./img/baselayer.svg) no-repeat;
}

.mapboxgl-ctrl-group.mapboxgl-ctrl-group-home {
  margin: 0!important;
  transform: translateY(-50%) translateY(52px)!important;
}


