.noUi-target {
  height: 10px;
  border-radius: 7px;
  margin: 0 115px 0 0;
  background: rgba(49, 49, 49, 0.8);
  box-shadow: none!important;
  border: 0!important;
}

.noUi-handle {
  right: -10px !important;
  outline: none;
  top: -6px !important;
  border-radius: 50%;
  width: 21px !important;
  height: 21px !important;
  background: #fff;
  opacity: 1;
  box-shadow: none;
}

.noUi-handle:before, .noUi-handle:after {
  content: none;
  background: inherit;
}

.noUi-handle:before {
  content: "";
  background: rgb(187, 16, 16);
  width: 7px;
  height: 7px;
  left: 6px;
  top: 6px;
  border-radius: 50%;
}

.noUi-pips {
  top: 0 !important;
  padding: 0;
  height: 0px;
}

.noUi-value {
  top: 5px;
  color: #000;
  font-weight: 600;
}

.noUi-marker-normal {
  top: 3px;
  border-radius: 16px;
  height: 4px !important;
  width: 4px!important;
}

.noUi-marker-large {
  top: 3px;
  border-radius: 16px;
  height: 4px !important;
  width: 4px!important;
  background: #fff!important;
}

.noUi-tooltip {
  font-size: 12px;
  border-radius: 2px;
  padding: 2px 5px;
  background: rgba(49, 49, 49, 0.8);
  color: #fff;
  border: none;
}

.slider-control-player {
  margin-left: 20px;
}

/* .noUi-base:before,
.noUi-base:after {
  width: 17px;
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  display: block;
}
.noUi-base:before {
  left: -17px;
}
.noUi-base:after {
  left: 100%;
} */
