#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.4em;
  color: #454545;
}

.clear {
  clear: both;
}
.alignright {
  margin-top: 0;
  text-align: right;
}
.small {
  font-size: 0.9em;
}

/* END CONTENT */

/* CUSTOMIZATION */

/* SLIDER */

.slider-control {
  bottom: 20px;
}

.mapboxgl-map {
  font-family: "PT Serif", serif !important;
  line-height: 1.4em;
  color: #454545;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.noUi-target {
  height: 24px;
  border-radius: 7px;
  margin: 0 65px;
  background: rgba(255, 255, 255, 0.8);
}

.noUi-handle {
  right: -10px !important;
  outline: none;
  top: 1px !important;
  border-radius: 50%;
  width: 20px !important;
  height: 20px !important;
  background: #fff;
  opacity: 1;
  box-shadow: none;
}
.noUi-handle:before,
.noUi-handle:after {
  content: none;
  background: inherit;
}

.noUi-handle:before {
  content: "";
  background: rgb(187, 16, 16);
  width: 10px;
  height: 10px;
  left: 4px;
  top: 4px;
  border-radius: 50%;
}

.noUi-pips {
  top: 0 !important;
  padding: 0;
  height: 0px;
}

.noUi-value {
  top: 16px;
  color: #000;
}

.noUi-marker-normal {
  top: 6px;
  height: 10px !important;
}

.noUi-marker-large {
  top: 3px;
  height: 16px !important;
}

.slider-control-player {
  margin-left: 20px
}

/* .noUi-base:before,
.noUi-base:after {
  width: 17px;
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  display: block;
}
.noUi-base:before {
  left: -17px;
}
.noUi-base:after {
  left: 100%;
} */

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  border-radius: 0;
  color: rgb(187, 16, 16);
  line-height: 1rem;
  font-family: initial;
  border: 2px solid rgb(187, 16, 16);
  background: white;
}

.btn:focus {
  outline-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 0.1rem rgba(187, 16, 16,.5);
}


.dialog-component {
  max-width: 600px;
}


/* MAPBOX GL */

.mapboxgl-ctrl-bottom-right {
  margin-bottom: 60px;
}
