.app-header {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 1.3rem 0;
  font-size: 1.7rem;
  color: #000000;
}

.popup__propertyblock {
  margin-bottom: 0.3rem;
  text-align: center;
}

.popup__property-name {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  color: #525252;
}

.popup__property-value {
  font-size: 1rem;
}

.map-marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background: green;
  width: 23px;
  height: 23px;
}

.map-marker__label {
  color: white;
  text-align: center;
  line-height: 23px;
}
